LATLONDT
34.7 -92.4 20200603-1636 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210705_MaxRef_bny/fit_conv_model.h5 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210705_MaxRef_bny/model_config.pkl 20210705_MaxRef_bny
34.7 -92.4 20200603-1636 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210706_MaxRef_C02C05/fit_conv_model.h5 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210706_MaxRef_C02C05/model_config.pkl 20210706_MaxRef_C02C05
34.7 -92.4 20200603-1636 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210804_MaxRef_C05C13/fit_conv_model.h5 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210804_MaxRef_C05C13/model_config.pkl 20210804_MaxRef_C05C13
34.7 -92.4 20200603-1636 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210807_MaxRef_C02C13/model-06-0.048357.h5 /apollo/grain/sbradshaw/AI/CONUS/DeepLearningModels/20210807_MaxRef_C02C13/model_config.pkl 20210807_MaxRef_C02C13